cmd auto on
cmd clicky on
wait menu True 120
sleep 3
shot 1-menu
cmd start
sleep 2
cmd auto on
cmd clicky on
sleep 12
shot 2-dialogue
cmd warp WARPSPEC
sleep 8
cmd auto on
cmd clicky on
sleep 12
shot 3-video-a
sleep 6
shot 4-video-b
quit
